<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technology.yuyi">
    <!--支付宝相关-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <!--支付宝相关-->

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="14cf697240503b60713b62354333abd3" /><!--开发者申请的key-->
        <service android:name="com.amap.api.location.APSService"></service>

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.InformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AppointmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.AllHospitalDepartmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectDoctorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CurrentTemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddEquipmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CurrentBloodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HandInputTemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.HandInputBloodActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.HospitalDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ElectronicMessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LookElectronicMessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InformationDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EquipmentManageActivity"
            android:screenOrientation="portrait" />

        <!-- create by liuzonghao -->
        <activity
            android:name=".activity.MS_home_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MS_allkinds_sort_activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MS_drugInfo_activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MS_drugBuy_activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MS_allkinds_activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.My_settings_feedbackIdea_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.My_settings_aboutOurs_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.My_settings_contactOur_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.My_shoppingCart_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.My_userLogin_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.My_address_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.My_message_Activity"
            android:launchMode="singleTop" />
        <!-- create by liuzonghao -->
        <activity
            android:name=".activity.FamilyManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddFamilyUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FamilyUserMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConnectWifiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyDataAnalyseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VoiceSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GaoDeLocateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">

        </activity>

        <!--支付宝相关-->
        <activity
            android:name=".lzh_alipay.H5PayDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>

        <!-- alipay sdk begin -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <!--支付宝相关-->
    </application>

</manifest>