<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technology.yuyi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.InformationActivity" />
        <activity
            android:name=".activity.AppointmentActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.AllHospitalDepartmentActivity" />
        <activity android:name=".activity.SelectDoctorActivity" />
        <activity android:name=".activity.CurrentTemActivity" />
        <activity android:name=".activity.AddEquipmentActivity" />
        <activity android:name=".activity.CurrentBloodActivity" />
        <activity
            android:name=".activity.HandInputTemActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.HospitalDetailsActivity" />
        <activity android:name=".activity.UserEditorActivity" />
        <activity android:name=".activity.ElectronicMessActivity" />
        <activity android:name=".activity.LookElectronicMessActivity" />
        <activity android:name=".activity.SetActivity" />
        <activity android:name=".activity.InformationDetailsActivity" />
        <activity android:name=".activity.EquipmentManageActivity" />

        <!-- create by liuzonghao -->
        <activity
            android:name=".activity.MS_home_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MS_allkinds_sort_activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MS_drugInfo_activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MS_drugBuy_activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MS_allkinds_activity"
            android:launchMode="singleTop" />


        <activity
            android:name=".activity.My_settings_feedbackIdea_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.My_settings_aboutOurs_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.My_settings_contactOur_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.My_shoppingCart_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.My_userLogin_Activity"
            android:launchMode="singleTop" />
        <!-- create by liuzonghao -->

        <activity android:name=".activity.FamilyManageActivity" />
        <activity android:name=".activity.AddFamilyUserActivity" />
        <activity android:name=".activity.FamilyUserMessageActivity" />
        <activity android:name=".activity.ConnectWifiActivity" />
        <activity android:name=".activity.MyDataAnalyseActivity" />
        <activity android:name=".activity.OrderMessageActivity" />
        <activity android:name=".activity.MyOrderActivity" />
        <activity android:name=".activity.SearchActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            ></activity>
    </application>

</manifest>